
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
	<link type="text/css" rel="stylesheet" href="/css/confirm.css" />
    <script
      src="https://kit.fontawesome.com/d9ab4bebe1.js"
      crossorigin="anonymous"
    ></script>
    <title>sshell | Confirmation</title>
  </head>
  <body>
    <div class="container">
      <div class="message">
        <i class="fas fa-check-circle" id="icon"></i>
        <h2>Email sent!</h2>
        <p>Please check your mail to get the password reset link.</p>
        <a href="/">Go Back</a>
      </div>
    </div>
  </body>
</html>
