

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content= "width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SSHELL | Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y="
      crossorigin="anonymous"
    />
    <link rel="icon" href="https://i.ibb.co/MgLtyCm/SShell-Logo.png" />
	<link type="text/css" rel="stylesheet" href="/css/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  
  <body oncontextmenu="return false">

    <div id="progressbar"></div>
    <div id="scrollPath"></div>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-mattBlackLight fixed-top"
      style="z-index: 99999999;"
    >
      <button class="navbar-toggler sideMenuToggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="/" style="font-size: 25px;"
        >S<span style="color: #04a2fd;">SHELL</span></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle p-0"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="material-icons icon">
                person
              </i>
              <span class="text">kanishkjamgaonkar</span>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="navbarDropdown"
            >
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="wrapper d-flex">
      <div class="sideMenu bg-mattBlackLight">
        <div class="sidebar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon">
                  dashboard
                </i>
                <span class="text">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon">
                  person
                </i>
                <span class="text">User Profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon"> insert_chart </i
                ><span class="text">Labs</span></a
              >
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon">
                  computer
                </i>
                <span class="text">Machines</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon">
                  stars
                </i>
                <span class="text">Leaderboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon">help </i>
                <span class="text">Access</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 sideMenuToggler">
                <i class="material-icons icon expandView">
                  view_list
                </i>
                <span class="text">Close</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="content">
        <main>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 my-3">
                <div
                  class="bg-mattBlackLight px-3 py-3"
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid #04a2fd;
                    border-radius: 20px;
                    background:transparent;
                  "
                >
                  <i
                    class="material-icons icon"
                    style="font-size: 40px; color: #04a2fd;"
                    >insert_chart</i
                  >
                  <h4 class="mb-2" style="font-size: 40px;">
                    Labs
                  </h4>
                  <span style="font-size: 40px;">00</span>
                </div>
              </div>
              <div class="col-md-4 my-3">
                <div
                  class="bg-mattBlackLight px-3 py-3"
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 2px solid #04af2d;
                    border-radius: 20px;
                     background:transparent;
                  "
                >
                  <i
                    class="material-icons icon"
                    style="font-size: 40px; color: #04af2d;"
                    >computer</i
                  >
                  <h4 class="mb-2" style="font-size: 35px;">
                    Machines
                  </h4>
                  <span style="font-size: 40px;">00</span>
                </div>
              </div>
              <div class="col-md-4 my-3">
                <div
                  class="bg-mattBlackLight p-3"
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 2px solid crimson;
                    border-radius: 20px;
                     background:transparent;
                  "

                >
                  <i
                    class="material-icons icon"
                    style="font-size: 40px; color: crimson;"
                    >person</i
                  >
                  <h4 class="mb-2" style="font-size: 35px;">
                    Users
                  </h4>
                  <span style="font-size: 40px;">00</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="bg-mattBlackLight my-2 p-3">
                  <h6 style="text-align: center; color:#009cff">Player Rank</h6>
                  <div class="card-body">
                    <canvas id="myChart" width="50" height="20"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div
                  class="bg-mattBlackLight my-2 p-3"
                  style="text-align: center;"
                >
                  <h6 style="text-align: center;color:#009cff">Rankings</h6>
                  <table class="table table-dark table-hover" style="background:#1e263d">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Level</th>
                        <th scope="col">Points</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
			<td>Sujal</td>
			<td>15</td>
                        <td>39287</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Varshit</td>
                        <td>12</td>
                        <td>34840</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Kanishk</td>
                        <td>10</td>
                        <td>31299</td>
                      </tr>
                    </tbody>
		  </table><br>
                  <a href="#">View All ></a>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <br><br><br><br>
    <h5 align="center" style="color:#009cff">S<span style="color:white">SHELL Pentesting Labs</span></h5>
    <script>
      let progress = document.getElementById("progressbar");
      let totalHeight = document.body.scrollHeight - window.innerHeight;
      window.onscroll = function () {
        let progressHeight = (window.pageYOffset / totalHeight) * 100;
        progress.style.height = progressHeight + "%";
      };
    </script>
    <script>
      var oldData = [12, 19, 3, 5, 2, 3];
      var newData = [20, 45, 5, 23, 75, 45];
      var ctx = document.getElementById("myChart").getContext("2d");
      var mylineChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: ["January", "February", "March", "April", "May", "June"],
          datasets: [
            {
              label: "Rank",
              data: oldData,
              backgroundColor: [
                "rgba(54, 162, 235, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(54, 162, 235, 0.2)",
              ],
              borderColor: [
                "rgba(0, 99, 200, 1)",
                "rgba(0, 99, 200, 1)",
                "rgba(0, 99, 200, 1)",
                "rgba(0, 99, 200, 1)",
                "rgba(0, 99, 200, 1)",
                "rgba(0, 99, 200, 1)",
              ],
              borderWidth: 3,
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                  reverse: false,
                },
              },
            ],
          },
        },
      });
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"
      integrity="sha256-OUFW7hFO0/r5aEGTQOz9F/aXQOt+TwqI1Z4fbVvww04="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"
      integrity="sha256-qE/6vdSYzQu9lgosKxhFplETvWvqAAlmAuR+yPh/0SI="
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        $(".sideMenuToggler").on("click", function () {
          $(".wrapper").toggleClass("active");
        });

        var adjustSidebar = function () {
          $(".sidebar").slimScroll({
            height:
              document.documentElement.clientHeight -
              $(".navbar").outerHeight(),
          });
        };

        adjustSidebar();
        $(window).resize(function () {
          adjustSidebar();
        });
      });
    </script>

  </body>
</html>

