<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SSHELL:Features</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/css/features.css" />
</head>
<body>

	<section class="section-services">
		<div class="container">
			<div class="row justify-content-center text-center">
				<div class="col-md-10 col-lg-8">
					<div class="header-section">
						<h2 class="title">Exclusive <span>Features</span></h2>
						<p class="description">We have a lot to offer!</p>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Start Single Service -->
				<div class="col-md-6 col-lg-4">
					<div class="single-service">
						<div class="part-1">
							<i class="fa fa-cogs"></i>
							<h3 class="title">Massive Labs and Machines</h3>
						</div>
						<div class="part-2">
							<p class="description">Learn, practice and complete! Get hands on and practise your skills in a real-world environment by completing guided and interactive tasks..</p>
							<a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
						</div>
					</div>
				</div>
				<!-- / End Single Service -->
				<!-- Start Single Service -->
				<div class="col-md-6 col-lg-4">
					<div class="single-service">
						<div class="part-1">
							<i class="fab fa-angellist"></i>
							<h3 class="title">Careers</h3>
						</div>
						<div class="part-2">
							<p class="description">Apply for security-related job openings or use SShell as a platform to find talent for your own company.<br><br><br></p>
							<a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
						</div>
					</div>
				</div>
				<!-- / End Single Service -->
				<!-- Start Single Service -->
				<div class="col-md-6 col-lg-4">
					<div class="single-service">
						<div class="part-1">
							<i class="fas fa-award"></i>
							<h3 class="title">Ranks and Badges</h3>
						</div>
						<div class="part-2">
							<p class="description">Compete with other users to reach the top and show off your progress with many different ranks and badges.<br><br></p>
							<a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
						</div>
					</div>
				</div>
				<!-- / End Single Service -->
				<!-- Start Single Service -->
				<div class="col-md-6 col-lg-4">
					<div class="single-service">
						<div class="part-1">
							<i class="fa fa-desktop"></i>
							<h3 class="title">Dedicated Labs</h3>
						</div>
						<div class="part-2">
							<p class="description">Rent your own private lab for your company or university, fully managed and tailored to your requirements.<br><br></p>
							<a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
						</div>
					</div>
				</div>
				<!-- / End Single Service -->
				<!-- Start Single Service -->
				<div class="col-md-6 col-lg-4">
					<div class="single-service">
						<div class="part-1">
							<i class="fas fa-broadcast-tower"></i>
							<h3 class="title">Feature 5</h3>
						</div>
						<div class="part-2">
							<p class="description">Lorem ipsum bla Lorem ipsum bla Lorem ipsum bla Lorem ipsum bla Lorem ipsum bla Lorem ipsum bla Lorem ipsum bla Lorem ipsum bla</p>
							<a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
						</div>
					</div>
				</div>
				<!-- / End Single Service -->
				<!-- Start Single Service -->
				<div class="col-md-6 col-lg-4">
					<div class="single-service">
						<div class="part-1">
							<i class="fab fa-canadian-maple-leaf"></i>
							<h3 class="title">Feature 6</h3>
						</div>
						<div class="part-2">
							<p class="description">Lorem ipsum bla Lorem ipsum bla Lorem ipsum bla Lorem ipsum bla Lorem ipsum bla Lorem ipsum bla Lorem ipsum bla Lorem ipsum bla</p>
							<a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
						</div>
					</div>
				</div>
				<!-- / End Single Service -->
			</div>
			<a href="/">Go Back</a>
		</div>
	</section>
</body>
</html>