<!DOCTYPE html>
<!-- Created By Sshell -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>sshell | Machines</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
      * {
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
      }

      body {
        /* background: url("https://wallpaperplay.com/walls/full/0/c/b/8972.jpg"); */
        background: #1d232e;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        font-family: "Poppins", sans-serif;
      }

      .sidebar {
        position: absolute;
        left: -250px;
        width: 250px;
        height: 100%;
        background: #12161d;
        transition: all 0.5s ease;
      }

      .sidebar header {
        font-size: 22px;
        color: white;
        line-height: 70px;
        text-align: center;
        background: #12161d;
        user-select: none;
      }

      .sidebar ul a {
        display: block;
        height: 100%;
        width: 100%;
        line-height: 65px;
        font-size: 20px;
        color: white;
        padding-left: 40px;
        box-sizing: border-box;
        border-bottom: 1px solid black;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        transition: 0.4s;
      }

      ul li:hover a {
        padding-left: 50px;
      }

      .sidebar ul a i {
        margin-right: 16px;
      }

      #check {
        display: none;
      }

      label #btn,
      label #cancel {
        position: absolute;
        background: #1d232e;
        border-radius: 3px;
        cursor: pointer;
      }

      label #btn {
        left: 40px;
        top: 25px;
        font-size: 35px;
        color: white;
        padding: 6px 12px;
        transition: all 0.5s;
      }

      label #cancel {
        z-index: 1111;
        left: -195px;
        top: 17px;
        font-size: 30px;
        color: #04a2fd;
        padding: 4px 9px;
        transition: all 0.5s ease;
      }

      #check:checked ~ .sidebar {
        left: 0;
      }

      #check:checked ~ label #btn {
        left: 250px;
        opacity: 0;
        pointer-events: none;
      }

      #check:checked ~ label #cancel {
        left: 195px;
      }

      #check:checked ~ section {
        margin-left: 250px;
      }

      section {
        background-position: center;
        background-size: cover;
        height: 100vh;
        transition: all 0.5s;
      }

      .numbers {
        display: flex;
        justify-content: center;
      }

      .flexbox-item {
        width: 200px;
        height: 80px;
        margin: 10px;
        margin-bottom: 50px;
        position: relative;
      }

      .flexbox-item p {
        position: absolute;
        top: 43%;
        left: 40%;
        transform: translate(-50%, -50%);
        font-size: 30px;
      }

      .flexbox-item .one {
        position: absolute;
        top: 80%;
        font-size: 13px;
      }

      .rooms,
      .users,
      .rank,
      .tasks {
        border: 1px solid grey;
        border-radius: 5px;
      }

      .flexbox-item .logo {
        position: absolute;
        top: 46%;
        left: 85%;
      }

      .rooms .border-left {
        width: 5px;
        height: 100%;
        background: #f70037;
      }

      .users .border-left {
        width: 5px;
        height: 100%;
        background: cornflowerblue;
      }

      .rank .border-left {
        width: 5px;
        height: 100%;
        background: brown;
      }

      .tasks .border-left {
        width: 5px;
        height: 100%;
        background: white;
      }

      .card {
        position: relative;
        text-align: center;
        top: 50%;
        left: 15%;
        border: 3px solid #04a2fd;
        width: 50rem;
        margin-bottom: 10px;
      }
      .fa-tasks {
        position: absolute;
        left: 2%;
        font-size: 35px;
      }
      label {
        display: block;
        margin: 0;
        z-index: 2;
      }
      .profile {
        position: relative;
        left: 28%;
        top: 40%;
      }
      .fa-power-off {
        position: relative;
        left: 30%;
        top: 43%;
        font-size: 20px;
        z-index: 2;
      }
      .heading {
        position: relative;
        left: 7%;
      }
    </style>
  </head>

  <body>
    <input type="checkbox" id="check" />
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <header>
      <div
        class="main"
        style="
          background: #12161d;
          height: 80px;
          display: flex;
          justify-content: center;
          z-index: -1;
        "
      >
        <p
          class="heading"
          style="
            text-align: center;
            font-size: 40px;
            color: white;
            padding-top: 10px;
          "
        >
          <i class="fa fa-qrcode" style="font-size: 40px;"></i>&nbsp;SSHELL |
          Machines
        </p>
        <a href="#" class="profile" style="color: white; z-index: 2;"
          ><i class="fas fa-user"></i>&nbsp;&nbsp;My Profile</a
        >
        <i
          class="fas fa-power-off"
          style="color: #f70037; cursor: pointer;"
        ></i>
      </div>
    </header>

    <div class="sidebar">
      <header style="font-size: 35px;">
        S<span style="color: #04a2fd; font-size: 35px;">SHELL</span>
      </header>
      <ul>
        <li>
          <a href="/dashboard"><i class="fas fa-qrcode"></i>Dashboard</a>
        </li>
        <li>
          <a href="/machines"><i class="fa fa-desktop"></i>Machines</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-desktop"></i>Labs</a>
        </li>
        <li>
          <a href="#"><i class="far fa-question-circle"></i>Acccess</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-list-ol"></i>Leaderboard</a>
        </li>
        <li>
          <a href="#"><i class="far fa-envelope"></i>Social</a>
        </li>
      </ul>
    </div>
    <section>
      <div class="numbers">
        <div class="flexbox-item rooms">
          <div class="border-left"></div>
          <p style="color: white;">188</p>
          <p style="color: white;" class="one">Machines</p>
          <p class="logo">
            <i class="fa fa-desktop" style="color: #f70037;"></i>
          </p>
        </div>
        <div class="flexbox-item users">
          <div class="border-left"></div>
          <p style="color: white;">117</p>
          <p style="color: white;" class="one">Labs</p>
          <p class="logo">
            <i
              class="fa fa-desktop"
              style="color: cornflowerblue; font-size: 35px;"
            ></i>
          </p>
        </div>
        <div class="flexbox-item rank">
          <div class="border-left"></div>
          <p style="color: white;">116</p>
          <p style="color: white;" class="one">Users</p>
          <p class="logo"><i class="fa fa-users" style="color: brown;"></i></p>
        </div>
        <div class="flexbox-item tasks">
          <div class="border-left"></div>
          <p style="color: white;">116</p>
          <p style="color: white;" class="one">Tasks</p>
          <p class="logo">
            <i class="fa fa-list-ol" style="color: white;"></i>
          </p>
        </div>
      </div>
      <div class="container">
        <div class="card bg-dark">
          <div class="card-header" id="headingOne">
            <i class="fas fa-tasks" style="color: white;"></i>
            <h5 class="mb-0">
              <button
                class="btn btn-primary"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Machine-1
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
            <div class="card-body">
              <h5 style="color: white;">
                PEN TESTING
              </h5>
              <p style="color: white;">
                First of all we will try to deploy a machine!
              </p>
              <a href="vpn.html" download>
                <button
                  class="btn btn-primary"
                  style="background: none; color: #04a2fd;"
                >
                  Download Vpn
                </button>
              </a>
              <button
                class="btn btn-primary"
                style="background: none; color: #04a2fd;"
              >
                Walkthrough
              </button>
            </div>
          </div>
        </div>
        <div class="card bg-dark">
          <div class="card-header" id="headingOne">
            <i class="fas fa-tasks" style="color: white;"></i>
            <h5 class="mb-0">
              <button
                class="btn btn-primary"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="true"
                aria-controls="collapseTwo"
              >
                Machine-2
              </button>
            </h5>
          </div>

          <div id="collapseTwo" class="collapse" aria-labelledby="headingOne">
            <div class="card-body">
              <h5 style="color: white;">
                PEN TESTING
              </h5>
              <p style="color: white;">
                First of all we will try to deploy a machine!
              </p>
              <a href="vpn.html" download>
                <button
                  class="btn btn-primary"
                  style="background: none; color: #04a2fd;"
                >
                  Download Vpn
                </button>
              </a>
              <button
                class="btn btn-primary"
                style="background: none; color: #04a2fd;"
              >
                Walkthrough
              </button>
            </div>
          </div>
        </div>
        <div class="card bg-dark">
          <div class="card-header" id="headingOne">
            <i class="fas fa-tasks" style="color: white;"></i>
            <h5 class="mb-0">
              <button
                class="btn btn-primary"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="true"
                aria-controls="collapseThree"
              >
                Machine-3
              </button>
            </h5>
          </div>

          <div id="collapseThree" class="collapse" aria-labelledby="headingOne">
            <div class="card-body">
              <h5 style="color: white;">
                PEN TESTING
              </h5>
              <p style="color: white;">
                First of all we will try to deploy a machine!
              </p>
              <a href="vpn.html" download>
                <button
                  class="btn btn-primary"
                  style="background: none; color: #04a2fd;"
                >
                  Download Vpn
                </button>
              </a>
              <button
                class="btn btn-primary"
                style="background: none; color: #04a2fd;"
              >
                Walkthrough
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      let details = document.getElementById("details");
      let showDetails = document.getElementById("show-details");
      let hideDetails = document.getElementById("hide-details");
      details.addEventListener("click", function () {
        showDetails.style.display = "block";
      });
      hideDetails.addEventListener("click", function () {
        showDetails.style.display = "none";
      });
    </script>

    <style>
      img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]
      {
        display: none;
      }
    </style>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>