<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/58e10c231a.js" crossorigin="anonymous"></script>
    <title>sshell | Profile</title>
    <style>
      body {
        background: #1d232e;
      }
      .row {
        position: relative;
        border: 5px solid #04a2fd;
        border-radius: 30px;
        height: 300px;
      }
      .navbar{
          height: 100px;
      }
      #user{
          color: #04a2fd;
          font-size: 70px;
      }
      .navbar-brand{
          font-size: 50px;
      }
      .image{
          position: relative;
          top: 17%;
          left: 10%;
          width: 200px;
          height: 200px;
          border:5px solid #04a2fd;
          border-radius: 50%;
      }
	 .tabContainer {
        width: 100%;
        height: 350px;
      }
      .tabContainer .buttonContainer {
        height: 15%;
		display: flex;
        justify-content: center;
      }
      .tabContainer .buttonContainer button {
        width: 25%;
        height: 100%;
        /* float: left; */
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px;
        font-size: 18px;
        background: #04a2fd;
		border-bottom: 3px solid black;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .tabContainer .buttonContainer button:hover {
        background-color: #04a2fd;
      }
      .tabContainer .tabPanel {
        height: 85%;
        background: gray;
        color: white;
        text-align: center;
        padding-top: 105px;
        box-sizing: border-box;
        font-size: 22px;
        display: none;
		border-top-left-radius:30px;
		border-top-right-radius:30px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><i class="far fa-user-circle" id="user"></i>&nbsp;&nbsp;Your Profile<br></a>
		<ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      </li>
		</ul>
        <form class="form-inline my-2 my-lg-0 ml-auto">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
            Public Profile
          </button>
        </form>
    </nav>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-3" id="profile-1">
        <img src="https://scitechdaily.com/images/Hacking-Illustration.jpg" alt="" class="image">
        </div>
        <div class="col-lg-9" id="profile-2">
            <br>
            <form style="color: white;">
                <div class="form-group">
                    <label for="exampleInputPassword1">Username</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="username" name="username" value="<%=currentUser.username%>">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email" value="<%=currentUser.email%>">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-pen"></i>&nbsp;&nbsp;Edit Profile</button>
            </form>
        </div>
      </div>
    </div>
	  <br>
	  <div class="container tabContainer">
      <div class="buttonContainer">
        <button onclick="showPanel(0,'#04a2fd')">Labs<i class="fas fa-arrow-to-bottom" style="color:black"></i></button>
        <button onclick="showPanel(1,'#04af2d')">Rooms<i class="fas fa-arrow-to-bottom"style="color:black"></i></button>
      </div>
      <div class="tabPanel">
        <p>No labs completed yet!</p>
      </div>
      <div class="tabPanel">
        <p>No machines completed yet!</p>
      </div>
    </div>
	  <script>
      let tabButtons = document.querySelectorAll(".buttonContainer button");
      let tabPanels = document.querySelectorAll(".tabPanel");

      function showPanel(panelIndex, colorCode) {
        tabButtons.forEach(function (node) {
          node.style.backgroundColor = "";
          node.style.color = "";
        });
        tabButtons[panelIndex].style.backgroundColor = colorCode;
        tabButtons[panelIndex].style.color = "white";
        tabPanels.forEach(function (node) {
          node.style.display = "none";
        });
        tabPanels[panelIndex].style.display = "block";
        tabPanels[panelIndex].style.backgroundColor = colorCode;
      }
    </script>
  </body>
</html>
