
<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Password Reset</title>
	  <link
      rel="icon"
      href="https://i.ibb.co/MgLtyCm/SShell-Logo.png"
    />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="img">
        <img
          src="https://i.ibb.co/MgLtyCm/SShell-Logo.png"
        />
      </div>
      <div class="login-content">
        <form action="/reset/b3d9516649fc5e96e96e73bae15ad42e389b0a40" method="post">
          <h2 class="title">Reset Password</h2>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <h5>New Password</h5>
              <input type="password" class="input" name="password" />
            </div>
          </div>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <h5>Confirm Password</h5>
              <input type="password" class="input" name="confirm" />
            </div>
          </div>
          <input type="submit" class="btn" value="Reset Password" />
          <a href="/">Go Back</a>
        </form>
      </div>
    </div>
    <script>
      const inputs = document.querySelectorAll(".input");

      function addcl() {
        let parent = this.parentNode.parentNode;
        parent.classList.add("focus");
      }

      function remcl() {
        let parent = this.parentNode.parentNode;
        if (this.value == "") {
          parent.classList.remove("focus");
        }
      }

      inputs.forEach((input) => {
        input.addEventListener("focus", addcl);
        input.addEventListener("blur", remcl);
      });
    </script>
  </body>
</html>
