


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="https://i.ibb.co/Fb8mRSf/SShell-Logo1.png" />
    <title>sshell | Team</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
	  <link rel="stylesheet" type="text/css" href="/css/team.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="z-index: 9999999;">
    <a class="navbar-brand" href="#" style="font-size: 30px;">S<span style="color: #04a2fd;">SHELL</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
  
        <li class="nav-item active">
          <a class="nav-link" href="/contact">Contact us</a>
        </li>
    <li class="nav-item active">
            <a class="nav-link" href="/ctf">CTF</a>
              </li>
       
  
      </ul>
    </div>
  </nav>
  <div class="main" style="display: flex;justify-content: space-between;" >
    <h1 class="title" style="display: flex;align-items: center;">Meet Our Team</h1>
    <img src="https://i.ibb.co/pfGQ7NQ/about-us.png" alt="">
  </div>
    <div class="team-area">
        <br>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-team">
              <div class="img-area">
                <img src="https://i.ibb.co/xCNs0Qn/vedant.jpg" class="img-responsive" alt="" />
                        <div class="social">
                            <ul class="list-inline">
                                <li>
                                    
                                    <a href="https://github.com/vedantkarle"><i class="fab fa-github"></i></a>
                                    <a href="https://www.instagram.com/chinu_karle/"><i class="fa fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/vedant-karle-9699a8190"><i class="fab fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="img-text">
                        <h4>Vedant Karle</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-team">
              <div class="img-area">
                <img
                  src="https://i.ibb.co/Pwq8Xgm/sujal-1.jpg"
                  class="img-responsive"
                  alt=""
                />
                <div class="social">
                  <ul class="list-inline">
                    <li>
                      
                      <a href="https://www.instagram.com/sujalljaiin/"><i class="fa fa-instagram"></i></a>
                      <a href="https://www.linkedin.com/in/sujal-jain-13a019186/"><i class="fab fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="img-text">
                <h4>Sujal Jain</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-team">
              <div class="img-area">
                <img
                  src="https://i.ibb.co/DgLFxcC/kanishk-1.jpg" alt="kanishk-1" 
                  class="img-responsive"
                  alt=""
                />
                <div class="social">
                  <ul class="list-inline">
                    <li>
                      
                      <a href="https://github.com/kanishkj2002/"><i class="fab fa-github"></i></a>
                      <a href="https://www.instagram.com/kanishk_7559/"><i class="fa fa-instagram"></i></a>
                      <a href="https://www.linkedin.com/in/kanishkjamgaonkar/"><i class="fab fa-linkedin"></i></a>
          <a href="http://kanishkj.ml"><i class="fas fa-globe"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="img-text">
                <h4>Kanishk Jamgaonkar</h4>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row" style="display: flex;justify-content: center;">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-team">
                    <div class="img-area">
                        <img src="https://i.ibb.co/xY42DCT/81117216-57cc-4814-8599-303581154ada.jpg"  class="img-responsive" alt="" />
                        <div class="social">
                            <ul class="list-inline">
                                <li>
                                    
                                    
                                    <a href="https://www.instagram.com/sun_chhi_taa/"><i class="fa fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/sanchitaa-bisht-164a961a0/"><i class="fab fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="img-text">
                        <h4>Sanchitaa Bisht</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-team">
                    <div class="img-area">
                        <img
                  src="https://i.ibb.co/Ytw76xj/f71eeb0e-6b0d-4ee3-a48a-42cd471236a2.jpg"
                  class="img-responsive"
                  alt=""
                />
                <div class="social">
                  <ul class="list-inline">
                    <li>
                      
                      
                      <a href="https://www.instagram.com/varshitmodi/"><i class="fa fa-instagram"></i></a>
                      <a href="https://www.linkedin.com/in/varshit-modi-jain-b75808193/"><i class="fab fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="img-text">
                <h4>Varshit Modi</h4>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
        
           

    <script
      src="https://kit.fontawesome.com/d9ab4bebe1.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

